.AppHeader {
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;

    .AppLogo {
        display: flex;
        background-color: silver;
        min-height: 75px;
        min-width: 200px;
        overflow: hidden;
        border-radius: 1.5rem;

    }

    .HeaderMenu {
        margin-left: auto;
        display: flex;
        align-items: center;


        button.LoginButton {
            border-radius: 1.5rem;
            background-color: blue;
            padding: 0.75rem 1.5rem;
            color: white;
            font-size: 1rem;
            cursor: pointer;

        }
       

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;
            gap: 0.5rem;
            li {
                a {
                    display: flex;
                    padding: 0.5rem;
                    text-decoration: none;
                    color: rgb(141, 141, 141);

                    
                }

            }
        }
    
    }
}

