footer.AppFooter {
  background-color: rgb(31, 31, 31);
  padding: 0.5rem;
  display: flex;

  a {
    color: silver;
  }

  .FooterMenu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        a {
          display: flex;
          text-decoration: none;
        }
      }
    }
  }
}
